.Product_collection {
    background-image: radial-gradient(circle at center center, transparent 0%, rgb(21, 1, 42) 99%), repeating-linear-gradient(0deg, rgba(163, 163, 163, 0.2) 0px, rgba(163, 163, 163, 0.2) 1px, transparent 1px, transparent 6px), repeating-linear-gradient(90deg, rgba(163, 163, 163, 0.2) 0px, rgba(163, 163, 163, 0.2) 1px, transparent 1px, transparent 6px), linear-gradient(90deg, rgb(56, 8, 105), rgb(21, 1, 42));

    .Product_Header {

        color: white;
        height: 30vh;

        .breadcums {
            margin-top: 40px;
        }
    }
}

.product_list {
    display: flex;
    overflow-x: auto;
    padding: 20px;
    background-color: #c397f3;

    /* Custom scrollbar */
    &::-webkit-scrollbar {
        height: 4px;
        /* Adjusted scrollbar height */
    }

    &::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 10px;
    }

    .product_new {
        min-width: 150px;
        text-align: center;

        img {
            height: 70px;
            width: 70px;
            border-radius: 50%;
        }
    }

    /* Responsive adjustments */
    @media (max-width: 768px) {
        .product_new {
            min-width: 100px;

            img {
                height: 50px;
                width: 50px;
            }
        }
    }
}



.search_filter {
    // width: 500px !important;
    margin: 30px auto;
    color: white !important;

}

.products_wrapper {
    color: white;

    .product_common {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 60px;

        @media (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
            /* Adjusts to 3 columns */
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            /* Adjusts to 2 columns */
        }

        @media (max-width: 500px) {
            grid-template-columns: 1fr;
            /* Stacks in a single column */
        }

        .product_detail {
            background: rgb(195, 151, 243);
            background: linear-gradient(180deg, rgba(195, 151, 243, 1) 0%, rgb(48, 22, 86) 20%, rgb(0, 0, 0) 100%);
            border: 2px solid white;
            padding: 16px;
            border-radius: 10px;
            margin: 20px 0;
            row-gap: 10px;

            .product_img img {
                width: 100%;
                height: 350px;
                border-radius: 10px;
                object-fit: cover;
            }
        }

        .product_actions {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;

            div {
                display: flex;
                align-items: center;
                column-gap: 10px;
            }
        }
    }
}

// Blog

.blog_main {
    background-image: radial-gradient(circle at center center, transparent 0%, rgb(21, 1, 42) 99%), repeating-linear-gradient(0deg, rgba(163, 163, 163, 0.2) 0px, rgba(163, 163, 163, 0.2) 1px, transparent 1px, transparent 6px), repeating-linear-gradient(90deg, rgba(163, 163, 163, 0.2) 0px, rgba(163, 163, 163, 0.2) 1px, transparent 1px, transparent 6px), linear-gradient(90deg, rgb(56, 8, 105), rgb(21, 1, 42));
    color: white;

    .blog_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;
        padding-bottom: 50px;

        .blog_content {
            height: auto;
            padding: 30px;
            border-radius: 20px;
            background: rgb(195, 151, 243);
            background: linear-gradient(180deg, rgba(195, 151, 243, 1) 0%, rgb(48, 22, 86) 20%, rgb(0, 0, 0) 100%);
            border: 2px solid white;
            display: flex;
            flex-direction: column;
            row-gap: 30px;

        }
    }

    .Product_Header {

        color: white;
        height: 30vh;

        .breadcums {
            margin-top: 40px;
        }
    }
}

// contact


.contact_main {
    background-image: radial-gradient(circle at center center, transparent 0%, rgb(21, 1, 42) 99%), repeating-linear-gradient(0deg, rgba(163, 163, 163, 0.2) 0px, rgba(163, 163, 163, 0.2) 1px, transparent 1px, transparent 6px), repeating-linear-gradient(90deg, rgba(163, 163, 163, 0.2) 0px, rgba(163, 163, 163, 0.2) 1px, transparent 1px, transparent 6px), linear-gradient(90deg, rgb(56, 8, 105), rgb(21, 1, 42));
    color: white;

    .contact_wrapper {
        img {
            height: 70vh;
            width: 100%;
            object-fit: cover;
        }

        .contact_boxes {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin: 0 auto;
            align-items: center;
            column-gap: 30px;

            .contact_email {
                height: auto;
                width: 100%;
                background: rgb(195, 151, 243);
                background: linear-gradient(180deg, rgba(195, 151, 243, 1) 0%, rgb(48, 22, 86) 20%, rgb(0, 0, 0) 100%);
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 20px;
                margin: 30px 0;
                padding: 20px;
                border-radius: 10px;
                border: 2px solid white;

                img {
                    height: 200px;
                    width: 200px;
                }

                p a {
                    color: white;
                }

            }
        }

        .contact_issues_wrapper {
            h2 {
                margin: 80px auto;
                text-align: center;
            }

            .contact_issues {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                row-gap: 40px;
                column-gap: 40px;
                margin: 30px 0;

                .issue_box {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    border-radius: 10px;
                    border: 2px solid white;
                    padding: 20px;
                    row-gap: 10px;
                    background: rgb(195, 151, 243);
                    background: linear-gradient(180deg, rgba(195, 151, 243, 1) 0%, rgb(48, 22, 86) 20%, rgb(0, 0, 0) 100%);
                }
            }
        }
    }

    .Product_Header {

        color: white;
        height: 30vh;

        .breadcums {
            margin-top: 40px;
        }
    }
}


    .login_common {
        display: grid;
        grid-template-columns: 400px 1fr;
        align-items: center;
        text-align: center;
        row-gap: 40px;
        column-gap: 20px;
        border-radius: 10px;
        border: 2px solid white;

        .login_img img{
            width: 100%;
            height: auto;
        }

        .login_form{
            Button{
                color: white;
            }

            .form_action_btn{
                display: flex;

                align-items: center;
                justify-content: space-around;

            }
        }
    }
