@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Lobster&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}


:root {
  --font-small: 15px;
  --font-medium: 18px;
  --font-large: 20px;
  --font-subheader: 35px;
  --font-extralarge: 40px;
}

h2{
  font-size: var(--font-extralarge);
}

p{
  font-size: var(--font-medium);
}

Button{
  background-color: #385790 !important;
  border: none !important;
  border-radius: 30px !important;
}

.container {
  height: auto;
  width: 1440px;
  /* width: 100%; */
  overflow: hidden;
  margin: auto;
}

.hero_wrapper {
  height: auto;
  color: white;
  width: 100%;
  margin: auto;
  background: radial-gradient(circle at right, #501c5f , #080808);
}


.service_wrapper {
  background-image: url('/public/assets/bg/1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  height: 50vh;
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.service_wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(29, 26, 26, 0.5); /* Gray color with 50% opacity */
  z-index: 1;
}

/* Ensures content inside .service_wrapper appears above the overlay */
.service_wrapper > * {
  position: relative;
  z-index: 2;
}